<footer class="container-fluid">

    <div class="row footer">

        <div class="col-12 col-lg-3">
            <article>
                <img src="https://img.icons8.com/ultraviolet/40/000000/questions.png"/>
                <h4>¿Cómo comprar?</h4>
                <p>Si tenés alguna duda ingresá acá.</p>
            </article>
        </div>

        <div class="col-12 col-lg-3">
            <article>
                <img width="40" src="https://img.icons8.com/cotton/64/000000/worldwide-location--v2.png"/>
                <h4>Tiendas.</h4>
                <p>Conocé tu tienda mas cercana acá.</p>
            </article>
        </div>

        <div class="col-12 col-lg-3">
            <article>
                <img src="https://img.icons8.com/ultraviolet/40/000000/add-contact-to-company.png"/>
                <h4>Nosotros.</h4>
                <p>Nuestra historia. </p>
                <p>Trabajá con nosotoros. </p>
            </article>
        </div>
        <div class="col-12 col-lg-3">
            <article>
                <img width="40" src="https://img.icons8.com/officel/80/000000/sort-by-follow-up-date.png"/>
                <h4>Seguinos en nuestras redes.</h4>
                <img src="https://img.icons8.com/ios-glyphs/30/000000/facebook.png"/>
                <img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"/>
                <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter.png"/> <br>
            </article>
        </div>

</footer>