<header class="container-fluid">

    <div class="container">

        <div class="row">

            <div class="col-5 col-md-2 col-lg-2 logo">
                <a href="/"><img src="/images/logomarovik2.svg" alt=""></a>
            </div>

            <div class="col-7 col-md-6 col-lg-6">
                <form action="" method="get" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="col-12 col-md-4 col-lg-4 cuotas">
                <ul class="usuario">
                    <li>
                        <a href="./register.html">Registrarse  <img width="20" src="https://img.icons8.com/color/48/000000/user-location.png"/></a>
                    </li>
                    <li>
                        <a href="./inicio_sesion.html">Iniciar sesión <img width="20" src="https://img.icons8.com/fluent/48/000000/login-rounded-right.png"/></a>
                    </li>
                    <li>
                        <a href="./productCart.html">Carrito <img width="20" src="https://img.icons8.com/fluent/48/000000/shopping-cart-loaded.png"/></a>
                    </li>
                </ul>
            </div>

        </div>
        
    </div>
        
</header>
