<header class="container-fluid">

    <div class="container">

        <div class="row">

            <div class="col-5 col-md-2 col-lg-2 logo">
                <a href="/"><img src="/images/logomarovik2.svg" alt=""></a>
            </div>

            <div class="col-7 col-md-6 col-lg-6">
                <form action="" method="get" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="col-12 col-md-4 col-lg-4 cuotas">
                <ul class="usuario">
                    <% if (typeof user == "undefined") { %>
                    <li>
                        <a href="/users/register">Registrarse <img width="20" src="https://img.icons8.com/color/48/000000/user-location.png"/></a>
                    </li>
                    <li>
                        <a href="/users/login">Iniciar sesión <img width="20" src="https://img.icons8.com/fluent/48/000000/login-rounded-right.png"/></a>
                    </li>
                    <% } else{ %>
                        <li>
                            <a href="/users/logout">Cerrar sesión <img width="20" src="https://img.icons8.com/fluent/48/000000/login-rounded-right.png"/></a>
                        </li>
                        <% if (user.rol == "user") { %>
                            <li>
                                <a href="/products/add">Publicar </a>
                            </li>
                        <% } %>   
                    <% } %>
                    <li>
                        <a href="./productCart.html">Carrito <img width="20" src="https://img.icons8.com/fluent/48/000000/shopping-cart-loaded.png"/></a>
                    </li>
                </ul>
            </div>

        </div>
    
        <div class="row">
        <div class="col-8 cont-burger dropdown">
            <botton class="btn btn-secondary dropdown-toggle" type="button" id="burger-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Categorias</botton>
    
            <div class="dropdown-menu cont-menu-categorias" aria-labelledby="burger-menu">
    
                <a href="/products/tecnologia" class="dropdown-item"><i class="icon-tecnologia"></i>Tecnología</a>
                <a href="/products/electrodomesticos" class="dropdown-item"><i class="icon-electrodomesticos"></i>Electrodomésticos</a>
                <a href="/products/bebes-y-ninos" class="dropdown-item"><i class="icon-bebes"></i>Bebés y Niños</a>
                <a href="/products/libreria" class="dropdown-item"><i class="icon-libreria"></i>Librería</a>
                <a href="/products/almacen" class="dropdown-item"><i class="icon-almacen"></i>Almacén</a>
                <a href="/products/bebidas" class="dropdown-item"><i class="icon-bebidas"></i>Bebidas</a>
                <a href="/products/frutas-y-verduras" class="dropdown-item"><i class="icon-frutas"></i>Frutas y Verduras</a>
                <a href="/products/carnes" class="dropdown-item"><i class="icon-carnes"></i>Carnes</a>
                <a href="/products/pescados-y-mariscos" class="dropdown-item"><i class="icon-pescados"></i>Pescados y Mariscos</a>
                <a href="/products/quesos-y-fiambres" class="dropdown-item"><i class="icon-queso"></i>Quesos y Fiambres</a>
                <a href="/products/lacteos" class="dropdown-item"><i class="icon-lacteos"></i>Lácteos</a>
                <a href="/products/congelados" class="dropdown-item"><i class="icon-congelados"></i>Congelados</a>
                <a href="/products/perfumeria" class="dropdown-item"><i class="icon-perfumeria"></i>Perfumería</a>
                <a href="/products/limpieza" class="dropdown-item"><i class="icon-limpieza"></i>Limpieza</a>
                <a href="/products/mascotas" class="dropdown-item"><i class="icon-mascotas"></i>Mascotas</a>
            </div>
    
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center cuotas">
            <a href=""><h5 class="mr-2"><%= (user)?user.nick:"Invitado" %> </h5></a>
            <% if (user) { %>
                <a href=""><img src="/images/users/<%= user.avatar %> " alt="avatar" width="50px" height="50px" class="avatar"></a>

            <% } else{%>
            <a href=""><img src="/images/users/default.png" alt="" width="50px" height="50px" class="avatar"></a>
            <% } %>
        </div>
        </div>
    </div>
        
</header>