<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Marovik
    </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://kit.fontawesome.com/e1661b9dce.js" crossorigin="anonymous"></script>
    <link href="https://file.myfontastic.com/56iAMnJ5W4ohZQR6E7f8tE/icons.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="/images/maroviKIcon2.png">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    

    <script src="/javascripts/search.js"></script>

</head>