<header">

    

    <div id="barraprincipal">
        <div class="barprincipal">
            <div class="logo"><a href="/"><img src="/images/logomarovik5.png" alt=""></a></div>
            <div class="botoncategorias">
                <div class="dropdown">
                    <button class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons">menu</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="">
                        <a href="/products/tecnologia" class="dropdown-item"><i class="icon-tecnologia"></i>  Tecnología</a>
                        <a href="/products/electrodomesticos" class="dropdown-item"><i class="icon-electrodomesticos"></i>  Electrodomésticos</a>
                        <a href="/products/bebes-y-ninos" class="dropdown-item"><i class="icon-bebes"></i>  Bebés y Niños</a>
                        <a href="/products/libreria" class="dropdown-item"><i class="icon-libreria"></i>  Librería</a>
                        <a href="/products/almacen" class="dropdown-item"><i class="icon-almacen"></i>  Almacén</a>
                        <a href="/products/bebidas" class="dropdown-item"><i class="icon-bebidas"></i>  Bebidas</a>
                        <a href="/products/frutas-y-verduras" class="dropdown-item"><i class="icon-frutas"></i>  Frutas y Verduras</a>
                        <a href="/products/carnes" class="dropdown-item"><i class="icon-carnes"></i>  Carnes</a>
                        <a href="/products/pescados-y-mariscos" class="dropdown-item"><i class="icon-pescados"></i>  Pescados y Mariscos</a>
                        <a href="/products/quesos-y-fiambres" class="dropdown-item"><i class="icon-queso"></i>  Quesos y Fiambres</a>
                        <a href="/products/lacteos" class="dropdown-item"><i class="icon-lacteos"></i>  Lácteos</a>
                        <a href="/products/congelados" class="dropdown-item"><i class="icon-congelados"></i>  Congelados</a>
                        <a href="/products/perfumeria" class="dropdown-item"><i class="icon-perfumeria"></i>  Perfumería</a>
                        <a href="/products/limpieza" class="dropdown-item"><i class="icon-limpieza"></i>  Limpieza</a>
                        <a href="/products/mascotas" class="dropdown-item"><i class="icon-mascotas"></i>  Mascotas</a>
                    </div>
                </div>
            </div>

            <div class="buscador">
                <form action="/products/search" method="get" class="search-form">
                    <div style="display: flex;">
                        <input type="text" name="search" placeholder="Buscar articulos" class="search-form_input">
                        <button type="submit" class="search-form_button"><p>Buscar</p></button>
                    </div>
                </form>
            </div>

            <div class="user">
                <div class="dropdown">
                    <button class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if (locals.user) { %>
                        <img src="/images/users/<%= locals.user.avatar %> " alt="">
                    <% }else{ %>
                        <span class="material-icons">account_circle</span>
                    <% } %>
                    </button>
                    <% if (locals.user) { %>
                        <div class="dropdown-menu" aria-labelledby="">
                            <% if ((typeof locals.user != "undefined") && (locals.user.rol == "user")){ %>
                                <a class="dropdown-item" href="/users/profile">Mi perfil</a>
                                <a class="dropdown-item" href="/users/password">Cambiar contraseña</a>
                                <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
                            <% } %>
        
                            <% if ((typeof locals.user != "undefined") && (locals.user.rol == "admin")){ %>
                                <a class="dropdown-item" href="/users/profile/admin">My perfil y publicaciones</a>
                                <a class="dropdown-item" href="/products/add">Publicar</a>
                                <a class="dropdown-item" href="/users/password">Cambiar contraseña</a>
                                <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
                            <% } %>
                            </div>
                    <% }else{ %>
                        <div class="dropdown-menu" aria-labelledby="">
                                <a class="dropdown-item" href="/users/register">Registrarse</a>
                                <a class="dropdown-item" href="/users/login">Iniciar sesión</a>
                        </div>
                    <% } %>
                    
                </div>
            </div>

            <div class="cart">
                <a href=""><span class="material-icons">shopping_cart</span></a>
            </div>

        </div>
    </div>
        
</header>