
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

 :root {
    --color-amarillo: #EAC926;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
    --color-azul: #03264C;
    --color-verde: #39b54a;
    --color-celeste: #41c4ec;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(52, 183, 235);
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
}
[class^="icon-"]{
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
    top: .2em;
}

.banner{
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    
}
.filtro{
    border: solid 1px rgb(203, 203, 203);
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
}
.filtro .burger{
    margin-left: 20px;
    padding: 3px 15px;
}
.filtro .burger i{
    color: #32bbb9;
    font-size: 25px;
}
.filtro ul {
    margin-top: 5px;
    margin-left: 50px;
}
.filtro .burger:focus{
    outline: white;
}
h2{
    padding-top: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 30px;
}

section .titulo h2 {
    text-align: center;
    font-size: 24px;
    color: var(--color-grisOscuro);
    padding: 30px;
}

.list-marks .mark{
    background-color: transparent;;
}
.subcategorias{
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

section .contenidos {
    background-color: white;
    margin-bottom: 15px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

section .contenidos:hover{
    -webkit-box-shadow: -1px -1px 59px -14px rgba(69,230,222,1);
    -moz-box-shadow: -1px -1px 59px -14px rgba(69,230,222,1);
    box-shadow: -1px -1px 59px -14px rgba(69,230,222,1);
    transition: 0.5s;
}

section .contenidos ul{
    text-align: center;
    margin-right: 15px;
}

section .contenidos figure img {
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
}

section article {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-grisClaro);
    padding: 20px;
    position: relative;
    height: 150px;
}

.contenidos span {
    color: var(--color-verde);
    /*display: flex;
    align-items: center;*/
    text-align: center;
    margin-left: 10px;
}

.contenidos i {
    color: var(--color-verde);
    background-color: white;
    border: 1px solid var(--color-verde);
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: -22px;
    right: 20px;
}



/* --- VERSION PARA TABLET --- */

@media(min-width:768px) {
    .banner img {
        display: block;
    }
    .detalle .section .productos{
        display: flex;
        flex-direction: column;
    }
    section .contenidos {
        width: 100%;
    }
}


/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:768px) {
    section article h2 {
        font-size: 1.9rem;
    }
    footer article h4 {
        font-size: 1.3rem;
    }
    footer article p {
        font-size: 0.9rem;
    }
    footer .copyright {
        font-size: 0.7rem;
    }
    .categorias{
        display: flex;
        flex-direction: row;
    }
    .filtro{
        padding-left: 0px;
    }
    .productos .contenidos {
        width: 290px;
    }
}