footer{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
}
#containerFooter{
    width: 70%;
    margin: auto;
    display: flex;
}
#containerFooter #ayudaFooter{
    width: 33%;
}
#containerFooter #ayudaFooter h1{
    color: rgb(81, 81, 81);
    font-size: 20px;
}
#containerFooter #ayudaFooter .ayuda{
    margin-top: 20px;
}
#containerFooter #ayudaFooter .ayuda a {
    color: rgb(140, 140, 140);
}
#containerFooter #ayudaFooter .ayuda a:hover {
    text-decoration: underline;
}


#containerFooter #nosotrosFooter{
    width: 33%;
}
#containerFooter #nosotrosFooter h1{
    color: rgb(98, 98, 98);
    font-size: 20px;
}
#containerFooter #nosotrosFooter .nosotros{
    margin-top: 20px;
}
#containerFooter #nosotrosFooter .nosotros a {
    color: rgb(140, 140, 140);
}
#containerFooter #nosotrosFooter .nosotros a:hover {
    text-decoration: underline;
}


#containerFooter #contactoFooter{
    width: 33%;
}
#containerFooter #contactoFooter h1{
    color: rgb(98, 98, 98);
    font-size: 20px;
}
#containerFooter #contactoFooter .contacto{
    margin-top: 20px;
    width: 100%;
}
#containerFooter #contactoFooter .contacto p{
    color: rgb(140, 140, 140);
}
#containerFooter #contactoFooter .contacto .iconsMedia{
    width: 100%;
    display: flex;
}
#containerFooter #contactoFooter .contacto .iconsMedia img{
    width: 13%;
    margin-right: 10px;
}

@media(max-width:480px) {
    #containerFooter{
        flex-direction: column;
    }
    #containerFooter #contactoFooter .contacto .iconsMedia img{
        width: 40%;
    }
}