
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

 :root {
    --color-amarillo: #EAC926;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
    --color-azul: #03264C;
    --color-verde: #39b54a;
    --color-celeste: #41c4ec; 
}

[class^="icon-"]{
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
    top: .2em;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(52, 183, 235);
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
}

#resultadosBusqueda #listado{
    width: 46%;
    text-align: left;
    position: absolute;
    left: 24%;
    z-index: 2;
    box-shadow:3px 1px 17px -10px #000000;
-moz-box-shadow:3px 1px 17px -10px #000000;
-webkit-box-shadow:3px 1px 17px -10px #000000;
}
#resultadosBusqueda #listado p{
    color: rgb(111, 111, 111);
    background-color: #fffffff8;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    border-bottom: solid 1px rgba(167, 167, 167, 0.211);
    border-width: 80%;
}
#resultadosBusqueda #listado p:hover{
    background-color: #e9e9e9;
}

#carrusel{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
#carouselExampleIndicators{
    width: 75%;
    margin: 0px auto;
}
#carouselExampleIndicators .carousel-inner{
    border-radius: 10px;

}
#ofertas h1{
    text-align: center;
    font-size: 35px;
    color: rgb(122, 122, 123);
}

#ofertas h1:hover{
    color: #32bbb9;
    transition: 1s;
}

.productosOfertas{
    width: 100%;
    text-align: center;
}
.productosOfertas .ofertas{
    width: 80%;
    margin: 0px auto;
}
.productosOfertas .ofertas .cajaproducto{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.productosOfertas .ofertas .cajaproducto figure{
    width: 100%;
    background-color: white;
    border-bottom: solid 1px rgb(197, 197, 197);
    margin: 0px;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    box-shadow:3px 3px 20px -4px #c4c4c4;
    -moz-box-shadow:3px 3px 20px -4px #c4c4c4;
    -webkit-box-shadow:3px 3px 20px -4px #c4c4c4;
}
.productosOfertas .ofertas .cajaproducto figure:hover{
    box-shadow:3px 3px 20px -4px rgb(50, 187, 185);
    -moz-box-shadow:3px 3px 20px -4px rgb(50, 187, 185);
    -webkit-box-shadow:3px 3px 20px -4px rgb(50, 187, 185);
}
.productosOfertas .ofertas .cajaproducto article:hover{
    box-shadow:3px 3px 20px -4px rgb(50, 187, 185);
    -moz-box-shadow:3px 3px 20px -4px rgb(50, 187, 185);
    -webkit-box-shadow:3px 3px 20px -4px rgb(112, 211, 191);
}
.productosOfertas .ofertas .cajaproducto article{
    padding-top: 20px;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    box-shadow:3px 3px 20px -4px #c4c4c4;
    -moz-box-shadow:3px 3px 20px -4px #c4c4c4;
    -webkit-box-shadow:3px 3px 20px -4px #c4c4c4;
}
.productosOfertas .ofertas .cajaproducto figure img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.productosOfertas .ofertas .cajaproducto p{
    margin-left: 15px;
    margin-right: 15px;
    height: 40%;
}
.productosOfertas .ofertas .cajaproducto h2{
    height: 35%;
}
.productosOfertas .ofertas .cajaproducto article .descuento{
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(82, 82, 82);
}
.productosOfertas .ofertas .cajaproducto article strike{
    color: rgb(184, 183, 183);
}
.productosOfertas .ofertas .cajaproducto article strong{
    color: #34dfdc;
}


@media(max-width:480px){
    .productosOfertas .ofertas{
        width: 100%;
    }
    #resultadosBusqueda #listado{
        width: 100%;
        left: 0%;
    }
}
@media(max-width:768px){
    #resultadosBusqueda #listado{
        width: 100%;
        left: 0%;
    }
}

/* --- VERSION PARA TABLET --- */

@media(min-width:768px) {
    .banner img {
        display: block;
    }
    .detalle .section .productos{
        display: flex;
        flex-direction: column;
    }
    
}


/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:1024px) {
    section article h2 {
        font-size: 1.9rem;
    }
    footer article h4 {
        font-size: 1.3rem;
    }
    footer article p {
        font-size: 0.9rem;
    }
    footer .copyright {
        font-size: 0.7rem;
    }
    .categorias{
        display: flex;
        flex-direction: row;
    }
    .filtro{
        padding-left: 0px;
    }
    .carrusel{
        width: 50%;
    }
}