/* 
- IMPORTS 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
- VARIABLES
*/

 :root {
    --color-amarillo: #EAC926;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
    --color-azul: #03264C;
    --color-verde: #39b54a;
    --color-celeste: #41c4ec;
}


/*
- GENERAL
*/

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(52, 183, 235);
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
}

#LoginFondo img{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#contenedorForm{
    width: 100%;
    text-align: center;
}
#cuadroForm{
    width: 35%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
}
#contenedorForm .iconLogin span{
    position: relative;
    top: 45px;
    color:  #32bbb9;
    font-size: 80px;
}
#cuadroForm form h4{
    color: rgb(127, 127, 127);
}
#cuadroForm form .inputEmailLogin input{
    width: 50%;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    height: 38px;
}
#cuadroForm form .inputPasswordLogin input{
    width: 50%;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    height: 38px;
    margin-top: 30px;
}
#cuadroForm form .botonLogin button{
    background-color: #32bbb9;
    border-style: none;
    height: 38px;
    width: 50%;
    border-radius: 20px;
    color: white;
    margin-top: 30px;
}
#cuadroForm form .botonLogin button:focus{
    outline: none;
    background-color: #298786;
}

#register{
    width: 100%;
    margin-bottom: 30px;
}
#register #registerLink{
    width: 35%;
    display: flex;
    margin: auto;
    border-top: solid 3px white;
}
#register #registerLink .links{
    width: 50%;
    text-align: center;
    color: rgb(83, 83, 83);
}
#register #registerLink .links a{
    color: rgb(83, 83, 83);
}
#register #registerLink .links a:hover{
    color: var(--color-azul);
}

input:focus{
    outline: none;
}

.footer {
    padding: 20px;
    background-color: white;
}

.footer article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer article i {
    font-size: 35px;
    color: var(--color-celeste);
    display: flex;
    margin: 10px 0;
}

.footer article h4,
.footer article p {
    color: var(--color-grisOscuro);
    display: flex;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--color-grisClaro);
    border-bottom: 1px solid var(--color-grisClaro);
    color: var(--color-grisOscuro);
}

@media(max-width:480px){
    #cuadroForm{
        width: 90%;
    }
    #register #registerLink{
        width: 90%;
    }
}
@media(max-width:768px){
    #cuadroForm{
        width: 90%;
    }
    #register #registerLink{
        width: 90%;
    }
}
/* --- VERSION PARA TABLET --- */

@media(min-width:768px) {
    /*header form input {
        width: 92%;
    }*/
    header .cuotas {
        margin: 0;
        text-align: right;
    }
    header ul li {
        justify-content: space-between;
        padding-right: 12px;
    }
    header ul.usuario li:last-child {
        padding-right: 0;
    }
    .banner img {
        display: block;
    }
    .detalle .section .productos{
        display: flex;
        flex-direction: column;
    }
    
}


/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:1024px) {
    section article h2 {
        font-size: 1.9rem;
    }
    footer article h4 {
        font-size: 1.3rem;
    }
    footer article p {
        font-size: 0.9rem;
    }
    footer .copyright {
        font-size: 0.7rem;
    }
    .categorias{
        display: flex;
        flex-direction: row;
    }
    .filtro{
        padding-left: 0px;
    }
    
}

/****** ESTILOS ÚLTIMA VERSION LOGIN ********/
.contenedor-login{
    width: 80%;
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-login img{
    width: 80%;
    height: auto;
}
/*******+ Estilos USER PROFILE   *********/
.contenedor_form_userProfile{
    background-color: white;
    width: 80%;
    margin-bottom: 30px;
}