#contenedorCarrito{
   background-color: white;
   width: 80%;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
   border-radius: 5px;
   box-shadow:3px 3px 20px -4px #c4c4c4;
   -moz-box-shadow:3px 3px 20px -4px #c4c4c4;
   -webkit-box-shadow:3px 3px 20px -4px #c4c4c4;
}
#contenedorCarrito #barCarrito{
   display: flex;
   padding: 8px;
   border-bottom: solid 1px rgb(232, 232, 232);
}
#contenedorCarrito #barCarrito img{
   width: 40px;
   height: 40px;
   object-fit: cover;
   border-radius: 50px;
}
#contenedorCarrito #barCarrito p{
   color: rgb(81, 81, 81);
   margin-top: 10px;
   margin-bottom: 0px;
   margin-left: 15px;
}
#contenedorCarrito #infoCarrito{
   display: flex;
}
#contenedorCarrito #infoCarrito #productosCarrito{
   width: 70%;
}
#contenedorCarrito #infoCarrito #productosCarrito #cartEmpty{
   width: 100%;
   text-align: center;
}
#contenedorCarrito #infoCarrito #productosCarrito #imageCartEmpty{
   width: 30%;
   height: 90%;
}
#contenedorCarrito #infoCarrito #productosCarrito #agregarCart{
   width: 100%;
   text-align: center;
}
#contenedorCarrito #infoCarrito #productosCarrito #agregarCart button{
   border-style: none;
   background-color: #32bbb9;
   height: 38px;
   color: white;
   border-radius: 20px;
   width: 30%;
   margin-top: 20px;
}
#contenedorCarrito #infoCarrito #productosCarrito #agregarCart button:focus{
   outline: none;
}
#contenedorCarrito #infoCarrito #contenedorTotal{
   padding: 10px;
   margin-top: 10px;
   width: 30%;
}
#contenedorCarrito #infoCarrito #contenedorTotal #sumarioCarrito{
   background-color: rgb(237, 237, 237);
   border-radius: 5px 5px 0px 0px;
   padding-left: 20px;
   padding-bottom: 1px;
}
#contenedorCarrito #infoCarrito #contenedorTotal #sumarioCarrito h4{
   font-size: 20px;
   color: rgb(96, 96, 96);
   margin-bottom: 30px;
}
#contenedorCarrito #infoCarrito #contenedorTotal #sumarioCarrito p{
   color: rgb(96, 96, 96);
   margin-bottom: 30px;
}
#contenedorCarrito #infoCarrito #contenedorTotal #totalCarrito{
   background-color: rgb(241, 230, 215);
   height: 45px;
   padding-left: 15px;
   padding-top: 10px;
   color: rgb(96, 96, 96);
   font-size: 20px;
   border-radius: 0px 0px 5px 5px;
}
#contenedorCarrito #infoCarrito #contenedorTotal #comprarCarrito button{
   background-color: #32bbb9;
   color: white;
   border-style: none;
   border-radius: 5px;
   width: 100%;
   height: 38px;
   margin-top: 10px;
}
#contenedorCarrito #infoCarrito #contenedorTotal #comprarCarrito button:hover{
   box-shadow:3px 3px 20px -4px #c4c4c4;
   -moz-box-shadow:3px 3px 20px -4px #c4c4c4;
   -webkit-box-shadow:3px 3px 20px -4px #c4c4c4;
}
#contenedorCarrito #infoCarrito #contenedorTotal #comprarCarrito button:focus{
   outline: none;
   background-color: #398988;
}
#contenedorCarrito #infoCarrito #productosCarrito{
   padding-top: 20px;
   padding-bottom: 30px;
}
#contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito{
   background-color: rgb(243, 243, 243);
   margin-left: 15px;
   margin-bottom: 10px;
   border-radius: 6px;
   display: flex;
}
#contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito strike{
   margin-top: 40px;
   font-size: 15px;
   color: rgb(161, 161, 161);
}
#contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito strong{
   margin-top: 40px;
   font-size: 15px;
   color: #32bbb9;
}
#contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito form button{
   border-style: none;
}
#contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito form button:focus{
   outline: none;
}
#contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito span:hover{
   color: rgb(225, 47, 82);
}
#contenedorCarrito #infoCarrito #productosCarrito figure{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 20px;
   width: 10%;
}
#contenedorCarrito #infoCarrito #productosCarrito img{
   border-radius: 5px;
   width: 110px;
   height: 100px;
   object-fit: cover;
}
#contenedorCarrito #infoCarrito #productosCarrito p{
   color: rgb(115, 115, 115);
   text-align: center;
   width: 40%;
   padding-top: 40px;
   margin-left: 50px;
}
#contenedorCarrito #infoCarrito #productosCarrito h4{
   font-size: 18px;
   color: rgb(115, 115, 115);
   text-align: center;
   width: 20%;
   padding-top: 40px;
}
#contenedorCarrito #infoCarrito #productosCarrito span{
   width: 10%;
   text-align: center;
   padding-top: 40px;
}



@media(max-width:480px){
   #contenedorCarrito #infoCarrito{
      flex-direction: column;
   }
   #contenedorCarrito #infoCarrito #productosCarrito{
      width: 97%;
   }
   #contenedorCarrito #infoCarrito #contenedorTotal{
      margin-top: 0px;
      width: 100%;
   }
   #contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito{
      flex-direction: column;
      margin-bottom: 10px;
   }
   #contenedorCarrito #infoCarrito #productosCarrito figure{
      margin-top: 10px;
      margin-bottom: 0px;
      margin-left: 0px;
      width: 100%;
      text-align: center;
   }
   #contenedorCarrito #infoCarrito #productosCarrito img{
      border-radius: 5px;
      width: 180px;
      height: 150px;
      object-fit: cover;
      margin: auto;
   }
   #contenedorCarrito #infoCarrito #productosCarrito p{
      text-align: center;
      width: 100%;
      padding-top: 12px;
      margin-left: 0px;
   }
   #contenedorCarrito #infoCarrito #productosCarrito h4{
      text-align: center;
      width: 100%;
      padding-top: 10px;
   }
   #contenedorCarrito #infoCarrito #productosCarrito button{
      width: 100%;
   }
   #contenedorCarrito #infoCarrito #productosCarrito span{
      width: 100%;
      text-align: center;
      padding-top: 0px;
   }
   #contenedorCarrito #infoCarrito #productosCarrito #imageCartEmpty{
      width: 50%;
   }
   #contenedorCarrito #infoCarrito #productosCarrito #agregarCart button{
      width: 70%;
   }
   #contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito strike{
      text-align: center;
   }
   #contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito strong{
      text-align: center;
   }
}



@media(min-width:480px) and (max-width:768px){
   #contenedorCarrito #infoCarrito{
      flex-direction: column;
   }
   #contenedorCarrito #infoCarrito #productosCarrito{
      width: 97%;
   }
   #contenedorCarrito #infoCarrito #contenedorTotal{
      margin-top: 0px;
      width: 100%;
   }
   #contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito{
      flex-direction: column;
      margin-bottom: 10px;
   }
   #contenedorCarrito #infoCarrito #productosCarrito figure{
      margin-top: 10px;
      margin-bottom: 0px;
      margin-left: 0px;
      width: 100%;
      text-align: center;
   }
   #contenedorCarrito #infoCarrito #productosCarrito img{
      border-radius: 5px;
      width: 180px;
      height: 150px;
      object-fit: cover;
      margin: auto;
   }
   #contenedorCarrito #infoCarrito #productosCarrito p{
      text-align: center;
      width: 100%;
      padding-top: 12px;
      margin-left: 0px;
   }
   #contenedorCarrito #infoCarrito #productosCarrito h4{
      text-align: center;
      width: 100%;
      padding-top: 10px;
   }
   #contenedorCarrito #infoCarrito #productosCarrito button{
      width: 100%;
   }
   #contenedorCarrito #infoCarrito #productosCarrito span{
      width: 100%;
      text-align: center;
      padding-top: 0px;
   }
   #contenedorCarrito #infoCarrito #productosCarrito #imageCartEmpty{
      width: 50%;
   }
   #contenedorCarrito #infoCarrito #productosCarrito #agregarCart button{
      width: 70%;
   }
   #contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito strike{
      text-align: center;
   }
   #contenedorCarrito #infoCarrito #productosCarrito .articulosCarrito strong{
      text-align: center;
   }
}