/* 
- IMPORTS 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
- VARIABLES
*/

 :root {
    --color-amarillo: #EAC926;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
    --color-azul: #03264C;
    --color-verde: #39b54a;
    --color-celeste: #41c4ec;
}


/*
- GENERAL
*/

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(52, 183, 235);
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
}
section .titulo h2 {
    text-align: center;
    font-size: 24px;
    color: var(--color-grisOscuro);
    padding: 30px;
}

section .contenido {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
section .contenido figure img {
    width: 90%;
}
.detalle h2 {
    margin-top: 30px;
}
.detalle h3{
    margin-top: 20px;
}
.detalle .contenido{
    padding: 20px;
}
.detalle button{
    background-color: var(--color-celeste);
    border: 0;
    color: white;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    text-transform: uppercase;
    margin-top: 30px;
}
.btn-volver{
    margin-bottom: 5px;
    border: none;
    background-color:  #32bbb9;
    border-radius: 15px;
    
}
.btn-volver a{
    color: white;
    padding: 5px;
    
}
.contenido2{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}




.addProduct .categorias2 {
    padding: 40px 40px 20px 40px;
}

.addProduct .formulario {
    padding: 20px 40px 40px 40px;
}
.addProduct .formulario #image[type="file"]{
    display: none;
}
.addProduct .formulario #labelPublicImage{
    background-color: #32bbb9;
    text-align: center;
    width: 50%;
    height: 38px;
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 1px;
}
.addProduct .formulario #labelPublicImage span{
    position: relative;
    top: 5px;
}
.addProduct .formulario #imageProductPreview{
    text-align: center;
}
.addProduct .formulario #imageProductPreview img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

#errorNameProduct{
    color: #ec0101;
    font-size: 12px;
}
#errorNameProduct i{
    color: #28df99;
}
#errorDescription{
    color: #ec0101;
    font-size: 12px;
}
#errorDescription i{
    color: #28df99;
}
#errorImage {
    color: #ec0101;
    font-size: 12px;
}
#errorImage i {
    color: #28df99;
}

@media(min-width:768px) {
    .addProduct .categorias2 {
        padding: 40px 20px 40px 40px;
        
    }
    .addProduct .formulario {
        padding: 40px 40px 40px 20px;
    }
}
@media(min-width:1024px){
    .detalle img{
        width: 80%;
    }
    .detalle .datos{
        border-left: 1px solid var(--color-grisClaro);
    }
    .detalle h2 {
        font-size: 3em;
        font-weight: 300;
    }
    .detalle img {
        width: 80%;
    }
    .detalle .datos {
        border-left: 2px solid var(--color-grisClaro);
    }
    .accordion{
        margin-right: 50px;
    }
    .opciones{
        margin-left: 300px;
    }
}
@media(min-width:1440px) {
    .addProduct .categorias2 {
        padding: 60px 20px 60px 60px;
    }
    .addProduct .formulario {
        padding: 60px 60px 60px 20px;
    }
}