#productDetail{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
#productDetail #containerDetail{
    width: 80%;
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    border: solid 1px rgb(214, 214, 214);
    margin: auto;
    display: flex;
}
#productDetail #containerDetail #imageDetail{
    width: 65%;
}
#productDetail #containerDetail #imageDetail img{
    width: 550px;
    height: 450px;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 30px;
}
#productDetail #containerDetail #infoDetail{
    width: 35%;
    border-radius: 8px;
    border: solid 1px rgb(214, 214, 214);
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    text-align: left;
}
#productDetail #containerDetail #infoDetail h2{
    font-size: 20px;
    margin-top: 20px;
}
#productDetail #containerDetail #infoDetail h1{
    font-size: 35px;
    margin-top: 20px;
}
#productDetail #containerDetail #infoDetail strike{
    color: rgb(130, 130, 130);
}
#productDetail #containerDetail #infoDetail strong{
    color: #32bbb9;
}
#productDetail #containerDetail #infoDetail .pagaEnCuotas{
    display: flex;
    margin-top: 8px;
}
#productDetail #containerDetail #infoDetail .pagaEnCuotas span{
    color: rgb(110, 110, 110);
}
#productDetail #containerDetail #infoDetail a{
    color: #32bbb9;
}
#productDetail #containerDetail #infoDetail a:hover{
    color: #3c817f;
}
#productDetail #containerDetail #infoDetail .shipping{
    display: flex;
    margin-top: 8px;
}
#productDetail #containerDetail #infoDetail .shipping span{
    color: rgb(110, 110, 110);
}
#productDetail #containerDetail #infoDetail .retiroSucursal{
    display: flex;
    margin-top: 8px;
}
#productDetail #containerDetail #infoDetail .retiroSucursal span{
    color: rgb(110, 110, 110);
}
#productDetail #containerDetail #infoDetail button.comprar{
    width: 100%;
    border-style: none;
    border-radius: 6px;
    background-color: #32bbb9;
    color: white;
    height: 40px;
    margin-bottom: 10px;
}
#productDetail #containerDetail #infoDetail button.comprar:hover{
    background-color: #59b0ad;
}
#productDetail #containerDetail #infoDetail button.comprar:focus{
    outline: none;
}
#productDetail #containerDetail #infoDetail form button{
    width: 100%;
    border-style: none;
    border-radius: 6px;
    background-color: #bdd0d0;
    color: #32bbb9;
    height: 40px;
    margin-bottom: 10px;
}
#productDetail #containerDetail #infoDetail form button:hover{
    background-color: #73c2c1;
    color: white;
}
#productDetail #containerDetail #infoDetail form button:focus{
    outline: none;
}

#productDescription{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}
#productDescription #containerDescription{
    width: 80%;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    border: solid 1px rgb(214, 214, 214);
    margin: auto;
    display: flex;
}
#productDescription #containerDescription #description{
    width: 65%;
    padding-right: 30px;
    padding-left: 30px;
}
#productDescription #containerDescription #description h1{
    text-align: left;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#productDescription #containerDescription #description p{
    text-align: left;
    color: rgb(113, 113, 113);
    margin-left: 20px;
    margin-right: 20px;
}
#productDescription #containerDescription #relacionados{
    width: 35%;
    border: solid 1px rgb(214, 214, 214);
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}
#productDescription #containerDescription #relacionados h1{
    font-size: 25px;
    margin-top: 10px;
    color: rgb(107, 107, 107);
}
#productDescription #containerDescription #relacionados .productoRelacionado{
    display: flex;
    margin-top: 10px;
}
#productDescription #containerDescription #relacionados .productoRelacionado a{
    width: 50%;
}
#productDescription #containerDescription #relacionados .productoRelacionado img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 20px;
}
#productDescription #containerDescription #relacionados .productoRelacionado .infoRelacionado{
    width: 50%;
    text-align: left;
}
#productDescription #containerDescription #relacionados .productoRelacionado .infoRelacionado a:hover{
    color: #32bbb9;
}
#productDescription #containerDescription #relacionados .productoRelacionado .infoRelacionado strike{
    color: rgb(113, 113, 113);
}
#productDescription #containerDescription #relacionados .productoRelacionado .infoRelacionado strong{
    color: #32bbb9;
}

@media(max-width:480px){
    #productDetail #containerDetail{
        flex-direction: column;
        width: 100%;
    }
    #productDetail #containerDetail #imageDetail{
        width: 100%;
    }
    #productDetail #containerDetail #imageDetail img{
        width: 300px;
        height: 350px;
        object-fit: cover;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    #productDetail #containerDetail #infoDetail{
        width: 100%;
    }
    #productDescription #containerDescription{
        flex-direction: column;
        width: 100%;
    }
    #productDescription #containerDescription #description{
        width: 100%;
    }
    #productDescription #containerDescription #relacionados{
        width: 100%;
    }
}
@media(min-width:480px) and (max-width:768px){
    #productDetail #containerDetail{
        flex-direction: column;
        width: 100%;
    }
    #productDetail #containerDetail #imageDetail{
        width: 100%;
    }
    #productDetail #containerDetail #imageDetail img{
        width: 300px;
        height: 280px;
        object-fit: cover;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    #productDetail #containerDetail #infoDetail{
        width: 100%;
    }
    #productDescription #containerDescription{
        flex-direction: column;
        width: 100%;
    }
    #productDescription #containerDescription #description{
        width: 100%;
    }
    #productDescription #containerDescription #relacionados{
        width: 100%;
    }
}