/* 
- IMPORTS 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
- VARIABLES
*/

 :root {
    --color-amarillo: #EAC926;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
    --color-azul: #03264C;
    --color-verde: #39b54a;
    --color-celeste: #41c4ec;
}


/*
- GENERAL
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(52, 183, 235);
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
}
[class^="icon-"]{
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
    top: .2em;
}

/*
- CABECERA
*/

#barrasuperior{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: solid 1px rgb(221, 221, 221);
}
.superior{
    width: 100%;
    height: 27px;
    display: flex;
    background-color: rgb(65, 60, 60);
}
.superior p{
    color: white;
    padding-top: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.superior p a{
    color: rgb(95, 184, 240);
}
.superior .botonesSuperiores{
    width: 25%;
}
#barraprincipal{
    background-color: white;
    width: 100%;
}
.barprincipal{
    width: 85%;
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    background-color: white;
    border-bottom: solid 1px rgb(221, 221, 221);
    text-align: center;
}
.logo{
    width: 10%;
}
.logo img{
    width: 90%;
    margin-top: 7px;
    margin-left: 0px;
    margin-bottom: 7px;
}
.botoncategorias{
    width: 10%;
}
.botoncategorias button{
    border: none;
    margin-top: 23px;
    background-color: white;
}
.botoncategorias .dropdown button:hover{
    color: rgb(95, 184, 240);
    transition: 1s  ;
}
.botoncategorias .dropdown button:focus{
    outline: none;
}
.botoncategorias .dropdown .dropdown-menu a:hover{
    color: rgb(95, 184, 240);
    transition: 1s ;
    background-color: white;
}
.botoncategorias .dropdown .dropdown-menu{
    -webkit-box-shadow: 5px 12px 16px -2px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 12px 16px -2px rgba(0,0,0,0.23);
    box-shadow: 5px 12px 16px -2px rgba(0,0,0,0.23);
    animation: starting 0.8s;
}
.buscador{
    width: 70%;
    margin-top: 18px;
}
.buscador input{
    padding-left: 10px;
    border-radius: 0px;
    width: 100%;
    height: 45px;
}
.buscador  ::placeholder{
    font-size: 15px;
}
.buscador input:hover{
    border: solid 1px rgb(95, 184, 240);
    transition: 0.5s;
    animation: color 3s infinite;
}
@keyframes color{
    0% {border: solid 1px rgb(95, 184, 240);}
    50% {border: solid 1px rgb(232, 239, 241);;}
    100% {border: solid 1px rgb(95, 184, 240);}
}
.buscador input:focus{
    background-color: rgb(248, 248, 248);
    transition: 1s;
    outline: none;
    animation: color 3s infinite;
    -webkit-box-shadow: inset -3px 10px 23px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: inset -3px 10px 23px -2px rgba(0,0,0,0.15);
    box-shadow: inset -3px 10px 23px -2px rgba(0,0,0,0.15);
}
.buscador button{
    border: none;
    background-color: rgb(92, 198, 243);
    width: 20%;
    margin-left: 4px;
}
.buscador button p{
    position: relative;
    top: 8px;
    color: white;
    font-size: 15px;
}
.buscador button:focus{
    outline: none;
    background-color: rgb(92, 198, 243);
    animation: movimiento 0.2s;
}
@keyframes movimiento{
    from{position: relative;top: 0px;}
    to{position: relative;top: 20px;}
}
.user{
    width: 8%;
}
.user .dropdown button{
    background-color: rgba(255, 255, 255, 0);
    border: none;;
}
.user .dropdown button:focus{
    outline: none;
}
.user .dropdown button span{
    color: black;
    font-size: 32px;
    margin-top: 22px;
}
.user .dropdown button img{
    margin-top: 17px;
    width: 45%;
}
.user .dropdown span:hover{
    color: rgb(88, 186, 228);
    transition: 0.5s;
    font-size: 38px;
}
.user .dropdown .dropdown-menu{
    -webkit-box-shadow: 5px 12px 16px -2px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 12px 16px -2px rgba(0,0,0,0.23);
    box-shadow: 5px 12px 16px -2px rgba(0,0,0,0.23);
    animation: starting 0.8s;
}
@keyframes starting{
    from{opacity: 0;top: 20px;}
    to{opacity: 1;top: 0px;}
}
.user .dropdown .dropdown-menu a:hover{
   background-color: white;
   color: rgb(92, 198, 243);
   transition: 1s;
}

.cart{
    width: 8%;
}
.cart span{
    font-size: 32px;
    margin-top: 22px;
    color: black;
}
.cart span:hover{
    color: rgb(88, 186, 228);
    transition: 0.5s;
    font-size: 38px;
}

/***************************   ESTILOS FORMULARIO   ***************************/

.title_register{
    text-align: center;
    color: var(--color-grisOscuro);
}
.cont_logo{
    background-color: white;
    text-align: center;
    padding: 0, 30px;
}
.cont_logo img{
    width: 20%;
}
.cont_form{
    margin-bottom: 2em;
}
.formulario_register{
    padding: 10px 30px;
    background-color: white;
}
#errorName{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorName i{
    color: green;
}
#errorLastName{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorLastName i{
    color: green;
}
#errorPassword{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorPassword i{
    color: green;
}
#errorEmail{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorEmail i{
    color: green;
}
.captcha{
    border: solid 1px;
    text-align: center;
    border: solid 1px rgb(179, 179, 179);
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 15px;
}

.boton{
    text-align: center;
    margin-bottom: 15px;
}
.boton a{
    color: rgb(0, 119, 255);
    
}

.boton button{
    background-color: rgb(99, 196, 241);
    border-style: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    padding: 15px 30px;
}


.footer {
    padding: 20px;
    background-color: white;
}

.footer article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer article i {
    font-size: 35px;
    color: var(--color-celeste);
    display: flex;
    margin: 10px 0;
}

.footer article h4,
.footer article p {
    color: var(--color-grisOscuro);
    display: flex;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--color-grisClaro);
    border-bottom: 1px solid var(--color-grisClaro);
    color: var(--color-grisOscuro);
}


@media(max-width:480px){
    #barrasuperior .superior .botonesSuperiores p{
        display: none;
    }
    #barraprincipal{
        width: 100%;
        display: flex;
    }
    #barraprincipal .barprincipal{
        width: 100%;
        display: block;
    }
    #barraprincipal .logo{
        float: left;
        width: 35%;
    }
    #barraprincipal .logo img{
        width: 100%;
        margin-top: 10px;
    }
    #barraprincipal .botoncategorias{
        float: left;
        width: 65%;
    }
    #barraprincipal .botoncategorias .dropdown button p{
        color: rgb(87, 87, 87);
        margin-top: 15px;
    }
    #barraprincipal .buscador{
        float: left;
        width: 100%;
        margin-top: 0px;
    }
    #barraprincipal .user{
        float: left;
        width: 50%;
    }
    #barraprincipal .user .dropdown button img{
        width: 25%;
        margin-bottom: 10px;
    }
    #barraprincipal .user span{
        font-size: 45px;
    }
    #barraprincipal .cart{
        float: left;
        width: 50%;
    }
    #barraprincipal .cart span{
        font-size: 45px;
    }
}

/* --- VERSION PARA TABLET --- */

@media(min-width:768px) {
    .buscador button span{
        color: white;
    }
    .banner img {
        display: block;
    }
    .detalle .section .productos{
        display: flex;
        flex-direction: column;
    }
}


/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:1024px) {
    .buscador button span{
        display: none;
    }
    section article h2 {
        font-size: 1.9rem;
    }
    footer article h4 {
        font-size: 1.3rem;
    }
    footer article p {
        font-size: 0.9rem;
    }
    footer .copyright {
        font-size: 0.7rem;
    }
    .categorias{
        display: flex;
        flex-direction: row;
    }
    .filtro{
        padding-left: 0px;
    }
}