/* 
- IMPORTS 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*
- VARIABLES
*/

 :root {
    --color-amarillo: #EAC926;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
    --color-azul: #03264C;
    --color-verde: #39b54a;
    --color-celeste: #41c4ec;
}


/*
- GENERAL
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(52, 183, 235);
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
}
[class^="icon-"]{
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
    top: .2em;
}


/***************************   ESTILOS FORMULARIO   ***************************/

.title_register{
    text-align: center;
    color: var(--color-grisOscuro);
}
.cont_logo{
    background-color: white;
    text-align: center;
    padding: 0, 30px;
}
.cont_logo img{
    width: 20%;
}
.cont_form{
    margin-bottom: 2em;
}
.formulario_register{
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}
#fondoRegister{
    width: 100%;
}
#fondoRegister img{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.cont_form .formulario_register input{
    border-style: none;
    border-radius: 20px;
}
.cont_form .formulario_register input:focus{
    outline: none;
}

#avatarPreview {
    text-align: center;
    margin-bottom: 20px;
}
#avatarPreview img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100px;
}
.checkboxRegister{
    margin-top: 40px;
}
#registerButton{
    padding-top: 40px;
}
.cont_form .formulario_register #inputAvatar[type="file"]{
    display: none;
}
.cont_form .formulario_register #labelAvatarRegister{
    background-color: #32bbb9;
    color: white;
    width: 100%;
    text-align: center;
    height: 38px;
    /*padding-top: 5px;*/
    border-radius: 20px;
}
.cont_form .formulario_register #labelAvatarRegister span{
    position: relative;
    top: 5px;
}

.cont_form .formulario_register .registerButton{
    background-color: #32bbb9;
    border-style: none;
    height: 38px;
    border-radius: 20px;
    width: 30%;
}


#errorName{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorName i{
    color: green;
}
#errorLastName{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorLastName i{
    color: green;
}
#errorPassword{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorPassword i{
    color: green;
}
#errorEmail{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorEmail i{
    color: green;
}
#errorFile{
    color: rgb(225, 70, 49);
    margin-top: 5px;
    margin-left: 10px;
}
#errorFile i{
    color: green;
}
.captcha{
    border: solid 1px;
    text-align: center;
    border: solid 1px rgb(179, 179, 179);
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 15px;
}

.boton{
    text-align: center;
    margin-bottom: 15px;
}
.boton a{
    color: rgb(0, 119, 255);
    
}

.boton button{
    background-color: rgb(99, 196, 241);
    border-style: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    padding: 15px 30px;
}





@media(max-width:480px){
    #barraprincipal{
        width: 100%;
        display: flex;
    }
    #barraprincipal .barprincipal{
        width: 100%;
        display: block;
    }
    #barraprincipal .logo{
        float: left;
        width: 35%;
    }
    #barraprincipal .logo img{
        width: 100%;
        margin-top: 10px;
    }
    #barraprincipal .botoncategorias{
        float: left;
        width: 65%;
    }
    #barraprincipal .botoncategorias .dropdown button p{
        color: rgb(87, 87, 87);
        margin-top: 15px;
    }
    #barraprincipal .buscador{
        float: left;
        width: 100%;
        margin-top: 0px;
    }
    #barraprincipal .user{
        float: left;
        width: 50%;
    }
    #barraprincipal .user .dropdown button img{
        width: 45px;
        height: 45px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    #barraprincipal .user span{
        font-size: 45px;
    }
    #barraprincipal .cart{
        float: left;
        width: 50%;
    }
    #barraprincipal .cart span{
        font-size: 45px;
    }
    #fondoRegister img{
        height: 150vh;
    }
}

/* --- VERSION PARA TABLET --- */

@media(min-width:480px) and (max-width:768px) {
    .buscador button span{
        color: white;
    }
    .banner img {
        display: block;
    }
    .detalle .section .productos{
        display: flex;
        flex-direction: column;
    }
    #barraprincipal{
        width: 100%;
        display: flex;
    }
    #barraprincipal .barprincipal{
        width: 100%;
        display: block;
    }
    #barraprincipal .logo{
        float: left;
        width: 35%;
    }
    #barraprincipal .logo img{
        width: 70%;
        margin-top: 10px;
    }
    #barraprincipal .botoncategorias{
        float: left;
        width: 65%;
    }
    #barraprincipal .botoncategorias .dropdown button p{
        color: rgb(87, 87, 87);
        margin-top: 15px;
    }
    #barraprincipal .buscador{
        float: left;
        width: 100%;
        margin-top: 0px;
    }
    #barraprincipal .user{
        float: left;
        width: 50%;
    }
    #barraprincipal .user .dropdown button img{
        width: 45px;
        height: 45px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    #barraprincipal .user span{
        font-size: 45px;
    }
    #barraprincipal .cart{
        float: left;
        width: 50%;
    }
    #barraprincipal .cart span{
        font-size: 45px;
    }
    #fondoRegister img{
        height: 150vh;
    }
}


/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:1024px) {
    .buscador button span{
        display: none;
    }
    section article h2 {
        font-size: 1.9rem;
    }
    footer article h4 {
        font-size: 1.3rem;
    }
    footer article p {
        font-size: 0.9rem;
    }
    footer .copyright {
        font-size: 0.7rem;
    }
    .categorias{
        display: flex;
        flex-direction: row;
    }
    .filtro{
        padding-left: 0px;
    }
    
}