#passwordFondo img{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
#contenedorPassword{
    width: 100%;
    text-align: center;
}
#contenedorPassword #cuadroPassword{
    width: 35%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    
}
#contenedorPassword img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
    top: 50px;
    border-radius: 60px;
}
#cuadroPassword form h4{
    color: rgb(127, 127, 127);
}
#cuadroPassword form .inputPasswordActual input{
    width: 50%;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    height: 38px;
}
#cuadroPassword form .inputPasswordActual #errorPasswordActual{
    color: rgb(225, 89, 65);
}
#cuadroPassword form .inputPasswordNueva input{
    width: 50%;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    height: 38px;
    margin-top: 30px;
}
#cuadroPassword form .inputPasswordNueva #errorPasswordNueva{
    color: rgb(225, 89, 65);
}
#cuadroPassword form .inputPasswordRepetir input{
    width: 50%;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    height: 38px;
    margin-top: 30px;
}
#cuadroPassword form .inputPasswordRepetir #errorPasswordRepetir{
    color: rgb(225, 89, 65);
}
#cuadroPassword form .botonPassword button{
    background-color: #32bbb9;
    border-style: none;
    height: 38px;
    width: 50%;
    border-radius: 20px;
    color: white;
    margin-top: 30px;
}
#cuadroPassword form .botonPassword button:focus{
    outline: none;
    background-color: #298786;
}

@media(max-width:480px){
    #contenedorPassword #cuadroPassword{
        width: 90%;
    }
    #contenedorPassword img{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}
@media(max-width:768px){
    #contenedorPassword #cuadroPassword{
        width: 90%;
    }
    #contenedorPassword img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 80px;
    }
}