<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 

<body>
    
    <%- include('partials/header') %>
    <%- include('partials/search') %>

    <div class="contenedor-principal">
        <div class="cont-image-medios">
            <img class="img-fluid" src="/images/medios.png" alt="banner medios de pago">
        </div>
        <div class="cont-medios-pago">
            <h2>Medios de Pago</h2>

            <p>Conocé todos los medios de pago que podes utilizar en MaroviK.com.ar.
                Aprovechá tus tarjetas de crédito y débito para realizar tus compras online. Si preferís realizar tus compras en efectivo, ¡también podes! No te olvides los descuentos, beneficios y financiación a los cuales podes acceder combinando nuestros medios de pago con tus bancos preferidos.
            </p>

            <section class="tarjetas-credito">
                <div class="titulo">
                    <p>Tarjetas de crédito</p>

                </div>
                <div class="img-medio">
                    <img src="/images/tarjetas_de_credito.jpg" alt="">
                </div>
            </section>
            <section class="tarjetas-credito">
                <div class="titulo">
                    <p>Tarjetas de débito</p>

                </div>
                <div class="img-medio">
                    <img src="/images/tarjetas_de_debito.png" alt="">
                </div>
            </section>
            <section class="tarjetas-credito">
                <div class="titulo">
                    <p>Efectivo</p>

                </div>
                <div class="img-medio">
                    <p>También tenés la posibilidad de abonar en efectivo por medio de una transferencia bancaria.</p>
                </div>
            </section>
        </div>






    <%- include('partials/footer') %> 
</body>
</html>