<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %> 

<body>

   
  <%- include("partials/header") %>

   <div class="LoginFon">


    <div class="container">
        <div class="row">
           <div class="proy-mar"><img src="../../images/logomarovik5.png" alt="" width="15%"></div>
              <div><h2>¿Quiénes somos?</h2>
                  <p>MaroviK es una cadena de supermercados con 10 años de trayectoria, que ha logrado convertirse en una de las cadenas con mayor venta del mercado. Cuenta con más de 20 sucursales distribuidos por todo Buenos Aires.</p>
               </div>
            </div>        
            <div class="dif"><h2>¿Qué nos diferencia?</h2>
              <p> Con un mercado compuesto por clientes cada vez más racionales. Clientes que comparan precio, calidad y servicios. MaroviK se caracteriza por alcanzar la máxima satisfacción de sus clientes, optando por una relación precio-calidad superior a la competencia, sin dejar de lado el trato amable y atento con el público.  
                  Nos enfocamos en generar ofertas semanales en productos estratégicos, y descuentos exclusivos para nuestros clientes más fieles.
            
                  ¡MaroviK apuesta a la calidad a precios bajos!
            
                  Nos esforzamos por ofrecer variedad, sucursales estratégicamente ubicadas, y un constante compromiso de la empresa por estar cada vez más cerca de la gente.
              </p>
            </div>    
           <div class="nues-prod"><h2> Nuestros Productos</h2>
               <ol>
                  <li>Electrodomésticos</li>
                  <li>Bebés y Niños</li>
                  <li>Librería </li>
                  <li>Alimentos 
                     <li>Bebidas</li>
                     <li>Frutas y verduras</li>
                     <li>Carnes</li>
                     <li>Pescados y Mariscos</li>
                     <li>Lácteos </li>
                     <li>Quesos y Fiambres</li>
                     <li>Congelados</li>
                     <li>Almacén</li>
                 </li>
                 <li>Perfumería</li>
                 <li>Limpieza</li>
                 <li>Mascotas</li>
              </ol>
            </div>       
          <div class="public"><h2>Nuestro público</h2>
               <p>El público objetivo es muy amplio como sucede en el sector de la distribución de alimentos al por menor:</p>
                  <ol>
                     <li>Habitantes de diferentes barrios de la cuidad que no residan relativamente lejos del supermercado</li>
                     <li>Hombres entre 25 y 80 años. Mujeres entre 20 y 80 años, muy probablemente madres. </li>
                     <li>Predomina el público femenino de mayor edad (40-60 años)</li>
                     <li>Parejas. Madres con hijos (artículos escolares - mascotas)</li>
                     <li>Mujeres jóvenes y medianamente adultas (perfumeria).</li>
                     <li>El público masculino suele acudir a golosinas, bebidas, snacks.</li>
                     <li>Perfiles socio-económicos medio-bajo para compras exclusivas de alimentación.</li>
                  </ol>
               <p>Para el sector electro apuntamos a gente de todas las edades. Nuestro objetivo es acercarles todos los avances tecnológicos de los productos que mejoren la calidad de vida de nuestros clientes.  
                  La propuesta comercial es diversa, pudiendo responder a múltiples necesidades. </p>
           </div>
           
         </div>          
      </div>

      
   </div>

   <%- include("partials/footer") %> 
    
    


    
</body>

</html>